body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
}

button {
    background-color: #3882F6;
    color: white;
}


/* Header Section */
.header {
    
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 8px;

}

.header-title {
    align-content: center;
    margin: 8px;
    font-weight: bold;
}


ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
    margin: 8px;
}


/*-------------------------------------------- */

/* First Section */

.first-section {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-around;
}

.firstsc-text {
    display: flex;
    flex-direction: column;
    margin: 8px;
    gap: 8px;
    width: 400px;
}

.firstsc-txbold {
    font-weight: bold;
    font-size:  48px;
}

.firstsc-tx {
    width: 500px;
}

.placeholder {
    height: 200px;
    width: 300px;

}

.signup-one {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}

/*-------------------------------------------- */

/* Second Section */

.second-section {
    margin: 24px;
}

.secondtxt {
    justify-self: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 12px;

}

.img1, .img2, .img3, .img4 {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.subtext {
    width: 150px;
    color: rgb(99, 99, 99)
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin: 8px;

}

/*-------------------------------------------- */

/* Third Section */

.third-section {
    background-color: #E5E7EB;
    padding: 150px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    
}

.author {
    justify-self: flex-end;
    font-weight: bold;
    font-size: 24px;
    margin: 8px;
}

/*-------------------------------------------- */

/* Fourth Section */

.fourth-section {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;

    margin: 150px;
    padding: 50px;
    color: white;
}


.fourthtxt {
    font-weight: bold;
    font-size: 18px;
}

.signup-two {
    border: solid 3px white;
    border-radius: 8px;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
}

/*-------------------------------------------- */

/* Footer */

.footer{
    text-align: center;
    background-color: #1F2937 ;
    color: #F9FAF8;

    padding: 40px;
}